node_modules
dist
.env
packages/backend/.env
packages/frontend/.env

# Cypress test reports created during instrumented runs
packages/frontend/test-reports

# Cypress
screenshots
videos
downloads
.cypress-cache

.tsimp